/* Flex */
.d-flex{
    display: flex;
}
.jcc{
	justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.flex-wrap{
	flex-wrap: wrap;
}
/* 文字樣式 */
.text-center{
	text-align: center;
}
.text-color{
	color: var(--primary-400);
}
.h2{
	font-size: 32px;
	font-weight: 700;
}
.h3{
    font-size: 28px;
	font-weight: 700;
    color: var(--neutral-900);
}
.h4{
	font-size: 24px;
	font-weight: 700;
}
.h5{
	font-size: 20px;
	font-weight: 700;
}
.h6{
	font-size: 16px;
	font-weight: 700;
}
.fz-sm{
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
}