@import 'variables.css';
@import 'utils.css';
@import 'components.css';

a{
    text-decoration: none;
    color:var(--neutral-900);
}
.bg-primary-200{
	background-color: var(--primary-200);
}

@media(max-width:376px){
    
}