/* 引入字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/* 引入ICON */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 顏色 */
:root{
    --primary-400:#57A203;
	--primary-300:#C0FA73;
    --primary-100:#F5FEE7;
    --neutral:#FFFFFF;
    --neutral-900:#212529;
	--neutral-200:#E8FEC5;
    --neutral-300:#DEE2E6;
    --neutral-100:#F8F9FA;
    --neutral-600:#6C757D;
	--neutral-500:#ADB5BD;
	--danger-300:#D74F4F;
}
.primary-color{
	background-color: var(--neutral-200);
}
/* 基本樣式 */
img{
    vertical-align: middle;
	height: auto;
	max-width: 100%;
}
a{
    text-decoration: none;
	display: block;
	color:var(--neutral-900);
}
body{
	font-family: "Noto Sans TC", sans-serif;
	line-height: 1.2;
	letter-spacing: 0.05em;
	font-size: 16px;
}
/* 通用樣式 */
.container{
    margin: 0 auto;
    max-width: 1296px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;
}
/* .col{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12);
} */
.col-2{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 2);
}
.col-3{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 3);
}
.col-4{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 4);
}
.col-5{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 5);
}
.col-7{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 7);
}

.col-10{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 *10);
}

.d-flex{
    display: flex;
}
.jcc{
	justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.flex-wrap{
	flex-wrap: wrap;
}
/* 文字樣式 */
.text-center{
	text-align: center;
}
.text-color{
	color: var(--primary-400);
}
.del{
	color: var(--neutral-500);
}
.py-8{
	padding-top: 8px;
	padding-bottom: 8px;
}
.py-12{
	padding-top: 12px;
	padding-bottom: 12px;
}
.py-24{
	padding-top: 24px;
	padding-bottom: 24px;
}
.py-16{
	padding-top: 16px;
	padding-bottom: 16px;
}
.py-32{
	padding-top: 32px;
	padding-bottom: 32px;
}
.py-64{
	padding-top: 64px;
	padding-bottom: 64px;
}
.mb-4{
	margin-bottom: 4px;
}
.mb-8{
	margin-bottom: 8px;
}
.mb-12{
	margin-bottom: 12px;
}
.mb-16{
	margin-bottom: 16px;
}
.ml-12{
	margin-left: 12px;
}
.ml-24{
	margin-left: 24px;
}
.mb-24{
	margin-bottom: 24px;
}
.mb-32{
	margin-bottom: 32px;
}
.mb-36{
	margin-bottom: 36px;
}
.mb-48{
	margin-bottom: 48px;
}
.ml-8{
	margin-left: 8px;
}
.mb-64{
	margin-bottom: 64px;
}
.ml-48{
	margin-left: 48px;
}
.ml-40{
	margin-left: 40px;
}
.gap-8{
	gap: 8px;
}
.h2{
	font-size: 32px;
	font-weight: 700;
}
.h3{
    font-size: 28px;
	font-weight: 700;
    color: var(--neutral-900);
}
.h4{
	font-size: 24px;
	font-weight: 700;
}
.h5{
	font-size: 20px;
	font-weight: 700;
}
.h6{
	font-size: 16px;
	font-weight: 700;
}

.fz-sm{
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
}
.btn{
	border-radius: 4px;
	background-color: transparent;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.05em;
	cursor: pointer;
	border: none;
	border: 1px solid var(--neutral-300);
}
.lg{
	border: 1px solid var(--neutral-900);
	width: 50%;
}
.dark{
	background-color: var(--neutral-900);
	color: var(--neutral);
}
.light{
	color:var(--neutral);
	background-color: var(--neutral-900);
}
.btn-size{
	border-radius: 4px;
	border: 1px solid var(--neutral-300);
}
.product-btn{
	display: flex;
}
.product-btn .bi{
	padding-right: 8px;
}
.selected{
	border: 1px solid var(--neutral-900);
}
.danger{
	color:var(--danger-300);
}
/* 商品圖片列表 */
.product-row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -4px;
	margin-right: -4px;
}
.product-col{
	width: calc(100% / 12);
	padding-left: 4px;
	padding-right: 4px;
}
.product-col-6{
	width: calc(100% / 12 * 6);
	padding-left: 4px;
	padding-right: 4px;
}
.product-color{
	width: 64px;
	text-align: center;
	color: var(--neutral-600);
}
/* 頁面 */
.nav{
	background-color: var(--neutral);
}
.instructions-color{
	color:var(--neutral-600);
}
/* 元素 */
.bread-divider+.bread-divider::before{
	content: "/";
	padding-left: 12px;
	padding-right: 12px;
	color: var(--neutral-300);
	font-weight: 700;
}
.bread-divider{
	display: flex;
	font-weight: 500;
}
.bread-link{
	color:var(--neutral-600);
}
.menu .actived{
	color:var(--primary-400);
}
.pagelist-btn{
	padding: 8px 15px;
	font-weight: 400;
	color: var(--neutral-900);
}
.pagebutton-list .actived{
	background-color: var(--primary-300);
	font-weight: 500;
}