@import "_reset.scss";
.h1{
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color:#FFFFFF;
}
.h3{
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color:#FFFFFF;
}
.text-center{
    text-align: center;
}
.header{
    background-image: url("/dist/imgs/about.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 0;
}